.cabecalho {
    background-color: #1f2235;
    padding: 14px;
}

body {
    background-color: #3b3d5d;
}

.cabecalho>a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    padding: 8px;
    margin-left: 20px;
    margin-right: 10px;
}

main {
    padding: 20px;
    display: flex;
}

.conteudo {
    padding: 5px;
    border: solid red 2px;
    height: 300px;
    display: inline-block;
}

.conteudo-esquerda {
    width: 700px;
}

.conteudo-direita {

    width: 400px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 5px;
    width: 80px;
    margin-top: 15px;
    margin-right: 115px;
    float: right;
    border-radius: 4px;
}