.cabecalho {
    background-color: #1f2235;
    padding: 14px;
}

body {
    background-color: #3b3d5d;
}

.cabecalho>a {
text-decoration: none;
color: white;
padding: 8px;
}

main {
    padding: 20px;
    display: flex;
}

.conteudo {
    padding: 5px;
    border: solid red 2px;
    height: 300px;
    display: inline-block;
}

.conteudo-esquerda {
    width: 400px;
}

.conteudo-direita {
    width: 400px;
}
